{% extends 'base.html' %}<!--Наследование шаблона-->

{% block title %}
Личный Кабинет
{% endblock %}
{% block body %}
{% if tip == 'cabinet'%}<!--Если тип равен личный кабинет-->
<div class="container">
    <h1>Привет, {{session['logged_in'][0]}}</h1>
    <h1><a href="/logout">Выход</a></h1><!--ссылка на выход-->
    <h1 class="bg-secondary">Книжная история:</h1>
    {% if books %}<!--Отображение заказов-->
    {% for i in books%}
<div class="shadow-sm bg-white rounded"
<div class="card">
  <div class="card">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Миниатюра [100% x225]" style="height: 300px; width: 15%; display: block;" src={{i[6]}} data-holder-rendered="true">
    <h4>Артикль книги - {{i[0]}}<h4>
        <h4>Дата получения - {{i[1]}} <h4>
            <h4>Дата сдачи - {{i[2]}}<h4>
            <h4>{{i[4]}} - {{i[5]}}</h4>

</div>
    {% endfor%}
    {% endif %}

    <h1 class="bg-success">Изменить данные:</h1>
    <form action="{{ url_for('change') }}" method=post><!--Активирует функцию по смене данных об клиентн-->
        <dl>
            <dt>ФИО:
            <dd><input type=text name=fio>
            <dt>Логин:
            <dd><input type=text name=login>
            <dt>Пароль:
            <dd><input type=text name=password>
            <dt>Телефон:
            <dd><input type=text name=telephone>
            <dd><input type=submit value=Изменить>
        </dl>
    </form>
{% endif %}
{% endblock %}